@media all{
	html{
		height: 100%;
	}
	th.c{
		width:16.66666667% !important;
	}
	td,th{
		text-align: center;
		vertical-align: middle!important;
	}
	.row{
		text-align: center;
	}
	.form-control{
		display: inline-block;
		width:auto;
	}
	.mrg{
		margin-bottom: 0;
		margin-top:10px; 
	}
	.dib{
		display: inline-block;
	}
	#count{
		font-weight: bold;
	}
	#preload { background: url(check.png) no-repeat -9999px -9999px; height: 1px; width: 1px;}
}